/* GENERAL */

body {
  line-height: 1.7rem;
  background-color: #070439;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


p {
  font-family: "Open Sans";
  font-weight: 400;
  width: 30rem;
}

h3 {
  width: 30rem;
  font-family: "Raleway";
  font-weight: 700;
}
h1 {
  width: 30rem;
  font-family: "Raleway";
  font-weight: 700;
}

li {
  width: 6.5rem;
}

.action {
  font-family: "Raleway";
  font-weight: 400;
}

.input {
  box-shadow: 1px 1px 10px black;
}

.button {
  box-shadow: 1px 1px 10px black;
}

.button:hover {
  font-size: 20px;
}

footer {
  background-color: white;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


/* NAVIGATION */
#navigation {
  margin-bottom: 6.25rem;
}

.navigation-links {
  margin-left: auto;
}

#navigation .nav-link {
  width: 6rem;
  text-align: center;
}

#navigation .nav-link:hover {
  font-size: 20px;
}


/* TITLE */
#title {
  margin-bottom: 6.25rem;
  margin-top: 18.75rem;
  width: 100%;
}

#title h1 {
  color: white;
}

#title p {
  color: white;
}
.illustration-1-img {
  width: 33rem;
  height: 25rem;
}

.form-1 {
  margin-top: 0.5rem;
}


.diagram-1 {
  text-align: center;
  margin: 9.40rem auto 2rem;
}


/* CURVE */
#curve-section {
  margin-top: 12.50rem;
  width: 100%;
}

.curve-img {
  width: 100%;
  width: 100%;
  height: 100%;
}


/* BODY */
#body {
  background-color: #f6f6fe;
  padding-bottom: 6.25rem;
  padding-top: 6.25rem;
  width: 100%;
}


.diagram-2 {
  text-align: center;
  margin-bottom: 2rem;
}


.illustration-2-img {
  width: 33rem;
  height: 25rem;
}

.green-arrow-link {
  text-decoration: none;
  padding-bottom: .5rem;
  border-bottom: .1rem solid;
  border-color: #3c9f8f;
  color: #3c9f8f;
}

.green-arrow-link:hover {
  border: none;
  color: #3c9f8f;
  font-size: 20px;
}

.p {
  width: 30rem;
}

/* COMMENT */
#comment {
  background-color: white;
  padding: 2rem;
  margin-top: 4rem;
  box-shadow: 1px 1px 10px black;
  width: 25rem;
  text-align: left;
}

#comment p {
  font-size: 13px;
}

.avatar {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  float: left;
  margin-right: 1rem;
}



/* LOWER BODY */

#lower-body {
  background-color: #585989;
  padding-bottom: 6.25rem;
  padding-top: 6.25rem;
  width: 100%;
}

.form-2 {
  margin-top: 0.5rem;
}


/* FOOTER */

#footer {
  background-color: #070439;
  color: white;
  padding-bottom: 6.25rem;
  padding-top: 6.25rem;
  width: 100%;
}

#footer a {
  color: white;
}

#footer .action:hover {
  font-size: 20px;
}

.contact-icon {
  margin-right: 1rem;
}

.social-icon {
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: #070439;
  padding: .5rem;
  margin-right: 1rem;
  color: white;
  width: 2.3rem;
  text-align: center;
}

.social-icon:hover {
  background-color: white;
  color: #070439;
}
